fastapi[standard]
uvicorn[standard]

pydantic[email]
python-dotenv
python-multipart

# Authentication
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

# Database
sqlalchemy[asyncio]>=2.0.0
asyncpg

# Redis
redis>=5.0.0

# Testing
httpx
pytest
pytest-asyncio
anyio

# Linting & Security
ruff
bandit
